<section class="section background">
  <div class="section__title">CurrentGround</div>
  <div class="section__content">
    <p>
       I'm Still Learning New Stuff, FOSS Supporter and Cyber Enthusiast With A Different Vision. BTW I Use Arch
    </p>
<figure class="project__pic">
        <a href="/" target="_blank">
          <img src="{{site.baseurl}}/img/dev.gif" alt="">
        </a>
      </figure>
    <p>
      All my project's are publically available on my Github profile and everyone is welcome for contributing in my code base.
Interested in collabration, we can talk. My Inbox is always ready for your message, Just start with a 'Hello'
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably Watch new Movie's play some online or offline games according to
      the situation.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
