<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/meditlon/userrecon" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/userrecon.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/meditlon/userrecon" target="_blank">UserRecon</a>
        </div>
        <p>Hunt down social media user profile using 'UserRecon' tool. Terminal based tool based on Shell. Effective in use for cybersecurity
        investigation's based on this area.</p>
      </figcaption>
    </div>



    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/meditlon/whoru" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/whoru.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/meditlon/whoru/" target="_blank">WhoRU Project</a>
        </div>
        <p>A Freely Open world based collection of privacy and security respecting tools on global.</p>
      </figcaption>
    </div>
  </div>
</section>
